@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro+Titling&family=Gruppo&family=Montserrat:wght@200&family=Raleway:wght@200&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* media query */

@media only screen and (min-width: 800px) {
  .navbar {
    width: 8rem;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
  }
  .navbar .nav-link {
    padding: 5rem 0 !important;
    text-decoration: none;
    display: block;
  }
  .navbar .active-nav-link {
    border-bottom: 0 !important;
    border-right: 2px solid currentColor;
  }
  .filters {
    margin-left: 10rem !important;
  }
  .mails {
    margin-left: 10rem !important;
  }
  .mails .mail-action-btn {
    float: right;
    margin: 0 0.5rem !important;
  }
}

/* Heading */

.project-name {
  margin: 1rem auto;
  font-family: "Bruno Ace SC", cursive;
  color: #002b5b;
}

/* Navbar */

.navbar {
  margin: 1rem;
}
.navbar .nav-link {
  margin: 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Castoro Titling", cursive;
  padding: 1rem 0;
}
.navbar .active-nav-link {
  color: #00425a;
  font-weight: 600;
  border-bottom: 2px solid currentColor;
}

/* filters */

.filters {
  margin: 2rem;
  text-align: left;
}
.filters fieldset {
  border-radius: 0.35rem;
  border-color: rgba(0, 0, 0, 0.3);
}
.filters legend {
  margin: 0 1rem;
  color: #00425a;
  font-family: "Castoro Titling", cursive;
  font-size: 1.2rem;
}
.filters table {
  padding: 1rem 0;
}
.filters td {
  padding: 0 0 0 0.5rem;
  color: #00425a;
  font-family: "Bruno Ace SC", cursive;
}

/* mails */

.mails {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: left;
  border-radius: 0.5rem;
}
.mails .star {
  float: right;
  font-size: 1.2rem;
  margin: -0.5rem -0.5rem;
  background-color: transparent;
}
.mails .mail-subject {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-family: "Castoro Titling", cursive;
  color: #002b5b;
}
.mails .mail-content {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.mails .mail-action-btn {
  display: block;
  margin: 0.5rem 0;
  background-color: #ffffff;
  font-family: "Bruno Ace SC", cursive;
}
.mails .details {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}
.read-mails {
  background-color: #f2f5fb;
}
.mails button {
  border: 0;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  color: #002b5b;
}
